<h3>Edit Rollover</h3>
<form action="/rollovers/<%= @rollover.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="rollover[rollover_type]" value="<%= @rollover.rollover_type %>">
  <input type="text" name="rollover[origin_bank]" value="<%= @rollover.origin_bank %>">
  <input type="text" name="rollover[destination_bank]" value="<%= @rollover.destination_bank %>">
  <input type="text" name="rollover[amount]" value="<%= @rollover.amount %>">
  <input type="submit" name="" value="Update Rollover">
</form>

<p><a class="button" href="/rollovers">Rollovers List</a><p>
<p><a href="/logout">Log Out</a>
