<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<a class="button" href="/rollovers">Rollovers List</a> <a href="/rollovers/<%= @rollover.id %>/edit">Edit rollover</a>

<h4> Your rollover data: </h4>

<p>Amount:<%= @rollover.amount %></p>
<p>Origin bank:<%= @rollover.origin_bank %></p>
<p>Destination bank:<%= @rollover.destination_bank %></p>


<form action="/rollovers/<%= @rollover.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="Delete this rollover">
</form>
